<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @user['name'] %>,
    Thanks again for trusting us with your <%= @user['repair_item'] %>.
    We wanted to confirm with you that our field call has been
    rescheduled to <%= @user['rescheduled_time'] %>.
  </body>
</html>