<div ng-controller="CalendarCtrl" class="container">
  <h4>Calendar</h4>
  <div class="row">
    <div class="col-md-8 calendar">
      <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h5>Schedule Field Call from Ticket</h5>
          (will email the customer)
          <div>
            Select a ticket to schedule or re-schedule
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h5>Notes:</h5>
              Drag an item to change the appointment.<br>
              This <em>WILL</em> email the customer or send them a text message.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>