body div {
  font-size: 12px;
}

div.calendar {
  background-color: white;
}

body#rsc-body {
  background-color: #f3f3f3;
}

div.fc-toolbar, div.form-group {
  margin-top: 10px;
}

div select.form-control, div input.form-control {
  width: 80%;
  height: 25px;
}

div.row:last-child {
  margin-top: 50px
}